* {
    padding: 0;
    margin: 0;
}

:root {
    --colorPrimary: #800000;
    --secondaryPrimClr: white;
    --thirColor: #313131;
    --ffPrimary: sans-serif;

}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 1rem;
}

img {
    display: block;
}

.verified_badge {
    background-color: var(--colorPrimary);
    color: var(--secondaryPrimClr);
    border-radius: 50%;
    border: .2rem solid var(--colorPrimary);
    margin-inline: .5rem;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.btn {
    background-color: var(--colorPrimary);
    padding: .5rem 1rem;
    border: .1rem solid transparent;
    white-space: nowrap;
    border-radius: .5rem;
    text-decoration: none;
    color: var(--secondaryPrimClr);
}

body {
    font-family: var(--ffPrimary);
    font-size: 16px;
    line-height: 1.5;
}

.header_wrap {
    background-color: var(--colorPrimary);
    padding-block: .5rem;

    .header_inner-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        picture img {
            width: 100%;
            height: 4.5rem;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            align-items: center;

            a {
                text-decoration: none;
                padding: .5rem 1rem;
                color: var(--secondaryPrimClr);
            }

            a:hover {
                color: color-mix(in srgb, var(--secondaryPrimClr),  black 25%);
                transition: all .2s ease-in-out;
            }

            .header_btn {
                background-color: var(--thirColor);
                margin-inline: .5rem;
                display: inline-block;
                margin-block: .5rem;
            }

            .header_btn:hover {
                color: var(--secondaryPrimClr);
                background-color: color-mix(in srgb, var(--thirColor),  black 25%);
                transition: all .3s ease-in-out;
            }
        }
    }
}

.top_banner {

    position: relative;

   figure picture img {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 25% 25%;
   }

   figcaption {
    padding-block: 10rem;
    color: var(--secondaryPrimClr);
    text-align: center;
   }

   .banner_btn-booking:hover {
    background-color: color-mix(in srgb, var(--colorPrimary),  black 25%);
    color: color-mix(in srgb, var(--secondaryPrimClr),  black 10%);
    transition: all .3s ease-in-out;  
   }

   .banner_btn-contact:hover {
    background-color: color-mix(in srgb, var(--colorPrimary),  black 25%);
    color: color-mix(in srgb, var(--secondaryPrimClr),  black 10%);
    transition: all .3s ease-in-out;
   }
}

.after_banner-txt {
    padding: 1rem;
    text-align: center;

    h2{
        color: var(--colorPrimary);
    }

}
    .main_pic-one {
        padding-block: 2rem;
        background-color: #f3f3f3;

    .main_pic-inner-section figure{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row-reverse;

        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
        }

        figcaption {
            flex: 60%;
            padding-inline: 1rem;

            a {
                display: inline-block;
                margin-block: .5rem;
            }

            .main_about-btn:hover {
                    background-color: color-mix(in srgb, var(--colorPrimary),  black 25%);
                    color: color-mix(in srgb, var(--secondaryPrimClr),  black 10%);
                    transition: all .3s ease-in-out;
            }

            .main_contact-btn {
                background-color: var(--thirColor);
            }

            .main_contact-btn:hover {
                     background-color: color-mix(in srgb, var(--thirColor),  black 25%);
                    color: color-mix(in srgb, var(--secondaryPrimClr),  black 10%);
                    transition: all .3s ease-in-out;
            }

        }
    }
}

.main_picture-two {
    padding-block: 2rem;

    .main_pic-inner-two figure{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
    }

    figcaption {
        flex: 60%;

        padding: 1rem;

        h2 {
            color: var(--colorPrimary);
        }

        .verified_badge-txt {
            padding-inline: 3rem;
        }
    }
}

.main_picture-three {

    background-color: #f3f3f3;
    padding-block: 2rem;

    .main_pic-inner-three figure {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-direction: row-reverse;

        img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        }

        figcaption {

            flex: 60%;
            padding: 1rem;

            h2 {
            color: var(--colorPrimary);
        }

                .verified_badge-txt {
            padding-inline: 3rem;
            }
        }
    }
}

.main_picture-four {
    padding-block: 2rem;

    .main_pic-inner-four figure {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        img {
        width: 100%;
        height: auto;
        border-radius: 1rem;
        }
        figcaption {

            flex: 60%;
            padding: 1rem;

            h2 {
            color: var(--colorPrimary);
        }

                .verified_badge-txt {
            padding-inline: 3rem;
            }
    }
}
}

.footer_wrap-outter {

background-color: #313131;

.footer_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    font-size: small;
    align-items: end;
    padding: .5rem;

    ul {
        display: flex;
        list-style: none;

        a {
            text-decoration: none;
            padding-inline: 1rem;
            color: var(--secondaryPrimClr);
        }
    }
}
}